/**** variables ****/

$white      : #fff;
$black      : #000;
$grayBase   : #eceff1;
$grayMedium : #697B8C;
$grayDark   : #333;
$blue       : #006989;
$blueMedium : #A3BAC3;
$blueLight  : #01A7C2;
$green      : #4CAF50;
$turkis     : #2DD1AC;
$red        : #E57373;
$yellow     : #ffab40;
$blueLink   : #039be5;

/**** font sizes ****/

$small      : 12px;
$medium     : 16px;
$big        : 20px;
$bigHeader  : 50px;
