@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3978sr');
  src:  url('fonts/icomoon.eot?3978sr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?3978sr') format('woff2'),
    url('fonts/icomoon.ttf?3978sr') format('truetype'),
    url('fonts/icomoon.woff?3978sr') format('woff'),
    url('fonts/icomoon.svg?3978sr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yogologo:before {
  content: "\e91e";
}
.icon-scheme2:before {
  content: "\e910";
}
.icon-membership:before {
  content: "\e91d";
}
.icon-camera_alt:before {
  content: "\e91c";
}
.icon-account:before {
  content: "\e91a";
}
.icon-checkin:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-camera:before {
  content: "\e918";
}
.icon-grey600:before {
  content: "\e917";
}
.icon-signout:before {
  content: "\e914";
}
.icon-chat:before {
  content: "\e913";
}
.icon-feedback:before {
  content: "\e912";
}
.icon-arrowdown:before {
  content: "\e911";
}
.icon-arrowright:before {
  content: "\e915";
}
.icon-arrowleft:before {
  content: "\e916";
}
.icon-scheme:before {
  content: "\e90f";
}
.icon-reorder:before {
  content: "\e90e";
}
.icon-addimage:before {
  content: "\e90d";
}
.icon-add:before {
  content: "\e90c";
}
.icon-money:before {
  content: "\e90b";
}
.icon-active:before {
  content: "\e90a";
}
.icon-subscription:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e907";
}
.icon-class:before {
  content: "\e904";
}
.icon-voucher:before {
  content: "\e905";
}
.icon-event:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e901";
}
.icon-more-horizontal:before {
  content: "\1f568";
}
.icon-more-vertical:before {
  content: "\e902";
}
.icon-hamburger:before {
  content: "\e900";
}
