/**** forms ****/

.looks-like-md-label {
  color: rgba(0,0,0,0.54)
  font-size:12px;
}

.looks-like-md-helper-text {
  color: rgba(0,0,0,0.54);
  font-size:12px;
}

.md-checkbox + .looks-like-md-helper-text {
  margin-top:-10px;
}

.yogo-field .md-error {
  opacity:0;
}

.yogo-field.md-invalid {
  .md-error {
    opacity:1;
  }
  .looks-like-md-label {
    color: red;
  }
}

.md-checkbox .md-checkbox-label {
  height: auto !important
}

.search__input--container

  .input-field
    display flex
    align-items center
    width 100%

.label--datepicker
  margin-bottom -15px
  display block

.vdp-datepicker
  line-height 3
  input
    padding 7px 0
    background transparent
    border 0
    font-size 1.2em
    border-bottom 1px solid #333
    outline none
    margin-bottom 20px
    width 100%

.vdp-datepicker__calendar
  // +for_breakpoint(tablet)
  //   margin-left -110px


