/**** IE 10 and 11 styles ****/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)

  .md-app-container
    height 100vh

  .wrapper
    height 100vh !important

  .md-field.md-required
    label::after
      right -10px
