/**** tables ****/

.deactivated
  opacity .5

.highlight
  cursor pointer

  tbody
    tr
      &:hover
        background lighten($grayBase, 50%) !important

.profile-image
  width 40px
  height 40px
  max-width none



.md-table-row.class-cancelled
  background $red
  color $white

.md-table-cell
  .md-icon
    width auto

.cursor-grab
  cursor grab
